.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 886px;
}
.hoursLines{
    margin:5px 0;
    height:2px;
    background:
      repeating-linear-gradient(to right,red 0,red 5px,transparent 5px,transparent 7px)
      /*5px red then 2px transparent -> repeat this!*/
}
.aboutLeft{
    width: 50%;
    /* width: 460px; */
    padding-right: 100px;
}
.aboutRight{
    width: 50%;
}
.aboutImg{
    background: red;
    width: 380px;
    height: 598px;
    margin-top: 244px;
}
.reservationBtn{

}
.contactInfo{
    position: absolute;
    top: 541px;
    background-color: #141723;
    height: 420px;
    width: 380px;
}