.navbar{
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.logo{
    padding-left: 30px;
}
.logo a{
    font-size: 1.5rem;
}
.navLinks{
    display: flex;
}
.navLinks li{
    list-style: none;
    padding-right: 30px;
}
.foodImg *{
    position: relative;
    left: 220px;
    top: 142px;
}
.heroText{
    padding-top: 200px;
}
.heroText .heading{
    font-size: 2rem;
    padding-bottom: 1rem;
}