.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1600px;
  width: 100%;
}
.container{
  width: 940px;
}

 .header{
  height: 742px;
  background-color: #4c4d4f;
  color: #fff;
}
